.body {
    font-family: "DeterminationMono", monospace; 
    background-image:url(/assets/wallpaper_csm.png); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.welcomeWindow {
    border: solid; 
    overflow: hidden;
    resize: both; 
    width: 500px;
    min-width: 304px;
    min-height: 343px; 
    border-radius: 16px; 
    position: absolute; 
    top: calc(50% - 90px); 
    left: calc(50% - 180px); 
    backdrop-filter: blur(4px); 
    display: flex; 
    flex-direction: column; 
    background-color: black;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}

.welcomeHeader {
    display: flex; 
     
    cursor: move; 
    justify-content: space-between; 
    padding: 8px; 
    background-color: #1a0000; 
    color: #ff5555; 
    overflow: hidden;
}

.fileText {
    display: flex;
    cursor: text;
    padding: 8px;
    background-color: black;
    
    color: white;
}

.buttonDiv {
    display: flex; 
    gap: 4px;
}



.closeWindowButton {
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    border: 1px solid #880000;
    color: #aa0000;
    font-weight: bold;
    user-select: none;
    width: 60pxpx; 
    height: 18px; 
    transition: 0.15s;
}

.closeWindowButton::after {
    content: "";
}

.closeWindowButton:hover::after {
    content: "REDACT";
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
}

.closeWindowButton:hover {
    background-color: #220000;
    border-color: red;
    box-shadow: 0 0 8px red;
}

.persona {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    margin: 5px;
}

.welcomeToNemOS {
    margin: 5px; 
     
    background-color: black; 
    color: #fff; 
    
}

.introduction {
    margin: 5px;
    background-color: black; 
    color: #fff;
}

.helloEarthians {
    margin: 5px;
    background-color: black; 
    color: #fff;
}

.stardanceProjectLink {
    margin: 5px;
    background-color: black; 
    color: #fff;
}

.topBar {
    gap: 32px; 
    display: flex; 
    justify-content: space-between; 
    position: absolute; 
    width: 100.2%; 
    backdrop-filter: blur(10px); 
    background-color: #1a0000; 
    color: #ff5555;  
    margin: -10px;
}

.topBarLeft {
    margin-left: 10px; 
    font-weight: 700; 
    padding: 5px, 15px; 
    border-radius: 16px; 
    
}

.topBarCenter {
    font-weight: 700; 
    padding: 5px, 15px; 
    align-items: center;
    justify-content: center;
    border-radius: 16px; 
    
}

.topBarRightTime {
    margin-right: 10px; 
    font-weight: 700; 
    padding: 5px, 15px; 
    border-radius: 16px; 
    
}

.desktopIcon {
    width: fit-content;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.nemoTXTimage {
    width: 64px;
    height: 64px;
}

.archiveExplorerImage {
    width: 64px;
    height: 64px;
}

.nemoTXTtext {
    color: white;
    margin: 0;
}

.archiveExplorerText {
    color: white;
    margin: 0;
}

.selected {
    background: black;
    border: 2px solid white;
    border-radius: 4px;
}

.window {
    position: absolute;
    top: 120px;
    left: 250px;

    width: 550px;
    height: 547px;
    min-width: 251px;
    min-height: 164px; 
    max-height: 547px;

    display: flex;
    flex-direction: column;

    border: solid;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
    background-color: black;
    backdrop-filter: blur(8px);
    overflow: hidden;
    resize: both;
}

.windowHeader {
    background-color: #1a0000;
    color: #ff5555; 
    padding: 8px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#fileViewerHeader {
    width: auto;
}

#fileText {
    width: 100%;
    height: 100%;
    height: calc(100% - 40px);
    resize: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.desktopIcon {
    width: fit-content;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#nemoTXTIcon {
    position: absolute;
    top: 80px;
    left: 20px;
}

@font-face {
    font-family: DeterminationSans;
    src: url("/assets/DeterminationSansWeb.woff") format("woff");
}

@font-face {
    font-family: DeterminationMono;
    src: url("/assets/DeterminationMonoWeb.woff") format("woff");
}

.resizeHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    cursor: nwse-resize;
}

.bootScreen {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: black;
    color: white;

    padding: 20px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 18px;

    overflow-y: auto;
    scrollbar-width: none;
    z-index: 99999;
}

.bootScreen::-webkit-scrollbar {
    display: none;
}

.red {
    color: red;
}

#bootText {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#archiveExplorerWindow {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 300px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border: solid;
    resize: both;
    overflow: hidden;
    min-width: 700px;
    min-height: 290px;
}

.explorerContent {
    flex: 1;
    padding: 8px;
    color: white;
    overflow-y: auto;
    min-height: 262px;
    min-width: 683px;
}

#archiveExplorerIcon {
    top: 200px;
    position: relative;
}

.explorerFile {
    color: white;
    padding: 8px;
    cursor: pointer;
    width: fit-content;
}

.explorerFile:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#viewerContent {
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    border: none;
    resize: none;
}

#fileViewer {
    min-height: 262px;
    min-width: 683px;
}